<section  id="header">

  <div id="branding-wrap">

    <div id="branding-navigation"><div class="align-center-wrapper">
	<!-- NavBar used to go here. Leave the surrounding elements
	      ("branding-navigation" and "align-center-wrapper") here
	       to preserve layout.
	-->
    </div></div><!-- end navbar -->
    <div id="branding-header">

      <div id="header-wrap">
        <div id="logo-floater">
          <a href="<%= AppConfig[:archives_home] %>" title="Home" rel="home" id="logo">
            <img src="<%= "#{AppConfig[:public_proxy_prefix]}" %>assets/images/logo.png" alt="NCAR Library" width="381"/>
          </a>
        </div>

        <div class="slogan hidden-phone"><img src="<%= "#{AppConfig[:public_proxy_prefix]}" %>assets/images/slogan_0075BF.png"
              alt="research * services * resources" width="524" height="50"/></div>
		<!-- .slogan -->
        <div style="clear:both;"></div>

      </div> <!-- /#header-wrap -->



      <div style="clear:both;"></div>
    </div>  <!-- /#branding-header -->

    <div id="archives-menu-wrap">
      <ul id="archives-menu">
        <li><a href="<%= AppConfig[:archives_home] %>/psearch">Search the Archives</a></li>
        <li><a href="<%= AppConfig[:archives_home] %>">Online Exhibits</a></li>
        <li><a href="<%= AppConfig[:archives_home] %>">Oral Histories</a></li>
        <li><a href="<%= AppConfig[:archives_home] %>">Using the Archives</a></li>
      </ul>
    </div>

  </div>  <!-- #branding-wrap -->


<!--  <div class="row">
    <div class="col-sm-9 h1"><% unless request.original_fullpath == '/' %>
        <a title="<%=t('brand.title_link_text') %>" href="<%= AppConfig[:public_url] %>"><% end %> <%= t('brand.title') %><% unless request.original_fullpath == '/' %></a><% end %> </div>
    <div class="col-sm-3 hidden-xs"><img class="logo" src="<%= asset_url(AppConfig[:pui_branding_img]) %>" alt="" /></div>
  </div>-->
</section>
